.thisDay {
    background: var(--componentsBg);
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    width: 100%;

    &__topBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 31px;
    }

    &__temp {
        font-weight: 500;
        font-size: 96px;
        line-height: 117px;
        color: #4793FF;
    }

    &__day {
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        color: var(--textColor);
    }

    &__info {
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        color: #939CB0;
    }
}